<?xml version="1.0" encoding="utf-8"?>
<config>
  <currentproduct>
    <brand>CAN</brand>
    <model>C49S</model>
  </currentproduct>
  <products>
    <product brand="CAN">
      <barcodelength>1</barcodelength>
      <macaddrlength>12</macaddrlength>
      <model name="C42S">
        <swversion>V2.2.5</swversion>
      </model>
      <model name="C49S">
        <swversion>V2.3.3</swversion>
      </model>
      <model name="C43C">
        <swversion>V0.0.3</swversion>
      </model>
      <model name="C49C">
        <swversion>V2.3.3</swversion>
      </model>
    </product>
    <product brand="Haier">
      <barcodelength>2</barcodelength>
      <macaddrlength>12</macaddrlength>
      <model name="70P3">
        <swversion>V2.2.5</swversion>
      </model>
      <model name="75P3">
        <swversion>V2.3.5</swversion>
      </model>
    </product>
  </products>
  <serialport baud="9600" id="COM1" />
</config>
